* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    position: relative;
    font-family: $default-fonts;
    color: $color-primary;
    font-size: $default-font-size;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: $XL ) {
        max-width: $XL_width;
        }

    @media (max-width: $LG ) {
        max-width: $LG_width;
        }

    @media (max-width: $MD ) {
        max-width: $MD_width;
        }

    @media (max-width: $SM ) {
        max-width: $SM_width;
        }
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-8 {
    max-width: 66.6666667%;
    flex-basis: 66.6666667%;
}

.col-6 {
    max-width: 50%;
    flex-basis: 50%;
    padding: 15px;
}

.col-4 {
    max-width: 33.333333%;
    flex-basis: 33.333333%;
    padding: 15px;
}

@media (max-width: $MD) {

    .col-md-12 {
        max-width: 100%;
        flex-basis: 100%;
    }
}

a {
    color: $color-white;
}
