

.u-medium-m-bottom {
    margin-bottom: 30px;
}

.u-letter-sp2 {
    letter-spacing: 2px;
}

.u-justify-end {
    justify-content: flex-end;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.u-big-m-top {
    margin-top: 60px;
}

.u-text-center {
    text-align: center;
}

.u-flex-reverse {
    flex-direction: row-reverse;
}

.u-bg-white {
    background-color: rgba(255, 255, 255, .9);
}

.u-color-white {
    color: $color-white;
}

.d-hidden {
    display: none;
}
