.info__icons {
    display: flex;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    @media (max-width: 1200px) {
        padding-bottom: 25px;
    }
    @media (max-width: 992px) {
        padding-bottom: 20px;
    }
    @media (max-width: 768px) {
        padding-bottom: 15px;
    }
    @media (max-width: 576px) {
        padding-bottom: 10px;
    }
}

.info__icon {
    fill: $iconInfo;
    width: 16px;
    height: 16px;
}

.info__icons:last-child {
    padding-bottom: 0;
}

.icons:hover .header__icon,
.icon:hover .footer__icon {
    fill: $iconHover;
}

.icon,
.icons {
    transition: 5s;
}