$default-fonts-name: "Gotham";
$follbak: Arial,
Helvetica,
sans-serif;
$default-fonts: $default-fonts-name,
$follbak;
$default-font-size: 18px;
$secondary-fonts-name: "Open Sans";
$secondary-fonts: $secondary-fonts-name,
$follbak;
//Color
$white:white;
$callo:#2c4058;
$cobalt:#0d54ac;
$cornFlowerBlue:#6283F0;
$mayaBlue: #55b7ff;
$slateBlue: #55b7ff;
$brightGrey: #4b5562;
$haiti: #2a2733;
$darkSlateBlue:#483D8B;
$mediumSlateBlue:#7e5aff;
$black:black;
$holyBlack: #D0D2D4;
$textColor:$white;
$btnBorder:$callo;
$btnTextHover:$cobalt;
$btntext:$callo;
$btnBgc:$white;
$menuListBgc:$cornFlowerBlue;
$itemColor:$callo;
$lineColorCello:$callo;
$cubeBlue:$mayaBlue;
$cubeFiolet:$slateBlue;
$colotText:$brightGrey;
$markerColor:$callo;
$iconBorder:$white;
$iconFill:$white;
$navBarColor:$cornFlowerBlue;
$menuHover:$white;
$menuDots:$white;
$menuLinkHover:$haiti;
$scrollBorder:$white;
$scrollBorderHover:$darkSlateBlue;
$iconInfo:$mediumSlateBlue;
$iconHover:$black;
$formBorder:$callo;
$lineWhite:$white;
$newsBgc:$white;
$newsDate:$mayaBlue;
$dots:$white;
$infoBgc:$white;
$placeholder:$holyBlack;