.gallery {
    padding: 140px 0;

    @media (max-width: $LG ) {
        padding: 70px 0;
         }

    &__wrapper {
       padding-top: 100px;

       @media (max-width: $LG ) {
        padding: 50px;
         }
    }

    &__wrap-item {
        max-width: 50%;
        flex-basis: 50%;
        min-height: 100%;
    }

    &__item {
        max-width: 50%;
        flex-basis: 50%;
        padding: 5px;
        min-height: 100%;
    }

    &__img {
        display: block;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}
