.news {
    background-image: linear-gradient( 45deg, rgba(60,127,212, .9) 0%, rgba(36,204,250, .9) 100%), url(../images/news_bg.png);
    background-position:  bottom;
    background-repeat: no-repeat;
    padding: 140px 0;

    @media (max-width: $LG ) {
            padding: 70px;
         }
    
    &__navigation {
        position: absolute;
        top: 50%;
        cursor: pointer;

        @media (max-width: $SM ) {
                display: none;
             }

        &--prev {
            left: -100px;
        }

        &--next {
            right: -100px;
        }

        &_img {
            @include positionCenter;

            &--prev {
                transform: translate(-50%, -50%) rotate(90deg);
            }

            &--next {
                transform: translate(-50%, -50%) rotate(-90deg);
            }
        }
        
    }

    &__wrapper {
        padding-top: 100px;
        position: relative;

        @media (max-width: $LG ) {
            padding-top: 50px;
        }
    }

    &__item {

        background-color: $color-white;
        position: relative;

        &_link {
            color: $color-primary;
            
            &::before {
                content: '';
                position: absolute;
                background-image: url(../images/news_hover.png);
                background-repeat: no-repeat;
                background-position: center;
                width: 85px;
                height: 85px;
                z-index: 100;
                top: 100px;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: .2s all ease;
            }

            &:hover {
                &::before{
                   opacity: 1;
                }
            }
        }

        &_img-container {
            position: relative;
            height: 240px;
            overflow: hidden;
        }

        &_img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }

    &__about {
        padding: 30px 22px;
    }

    &__heading {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__text {
        font-family: $secondary-fonts-name;
        margin-top: 10px;
    }

    &__author {
        display: flex;
        align-items: center;
        margin-top: 25px;

        &_foto {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            margin-right: 18px;
        }

        &_name {
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        &_date {
            font-size: 14px;
            color: $color-bg-first;
        }
    }

    & .slick-slide {
        margin: 10px;
    }

    & .slick-dots {
        position: absolute;
        bottom: -100px;
        left: 50%;
        display: flex;
        font-size: 16px;
        width: 200px;

        & li {
            margin-bottom: 30px;
            position: relative;

            button {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                background-color: transparent;
                color: transparent;
                outline: none;
                border: none;
                cursor: pointer;

                &:before {
                    content: '';
                    color:white;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    top: 50%;
                    left: 50%;
                    border: solid 1px white;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        & .slick-active button {

            &:before{
                background-color: white;
            }
        }
    }
}

