.contact{
    &__wrapp{
        padding: 60px 60px 24px 60px;
        margin-top: -316px;
        background-color: $contactBgColor;
        z-index: 10;
    }

    &__title-wrapp{
        text-align: center;
        position: relative;
        padding-bottom: 32px;
        padding-top: 24px;

        &::before{
            content: '';
            width: 100px;
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-top: 1px solid $contactTextColor;
        }
    }

    &__title{
        font-family: $firstFont;
        font-size: 44px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: $contactTextColor;
        position: relative;
        letter-spacing: 4px;
    }

    &_line-text {
        margin-bottom: 39px;
        font-family: $firstFont;
        font-size: 18px;
        font-weight: 300;
    }

    &_symbol{
        height: 1em;
        width: 1em;
        fill: $contactSymbolColor;
        box-sizing: content-box;
        padding-right: .5em;
    }

    &__text {
        color: $contactTextColor;
        text-decoration: none;
        outline: none;
    }

    &__reverse-form{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    &__input{
        margin-bottom: 30px;
        width: 100%;
        height: 43px;
        outline: none;
        border: none;
        border-bottom: 1px solid $contactTextColor;
        font-family: $firstFont;
        font-size: 18px;
        opacity: .5;

        &:focus, &:active{
            opacity: 1;
        }
    }

    &__button{
        width: 140px;
    }
}
