.news{
    &__bg{
        @include bgCover('../image/news_bg.jpg');

        .slick-dots{
            display: flex;
            justify-content: center;
            padding-top: 50px;

            li{
                    display: block;
                    font-size: 0;
                    height: 9px;
                    width: 9px;
                    box-sizing: border-box;
                    border-radius: 50%;
                    outline: none;
                    background-color: transparent;
                    border: 1px solid $newsTextColor;
                    margin: 0 20px;
                    opacity: .6;

                    &:hover{
                        opacity: 1;
                    }

                button{
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: transparent;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    cursor: pointer;
                }
            }

            .slick-active {
                background-color: $newsTextColor;
            }
        }

        .slick-next{
            right: 0;
            margin-right: -100px;

            &::before{
                content: url('../../image/chevron-right-solid.svg');
            }
        }

        .slick-prev{
            left: 0;
            margin-left: -100px;
            &::before{
                content: url('../../image/chevron-left-solid.svg');
            }
        }

        .slick-prev,
        .slick-next {
            top: 45%;
            transform: translateY(-50%);
            color: transparent;
            background-color: transparent;
            width: 40px;
            height: 40px;
            border: solid 1px $newsTextColor;
            border-radius: 50%;
            opacity: .6;
            transition: opacity .3s ease-in-out;
            position: absolute;

            &:hover{
                opacity: 1;
            }

            &::before{
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 6px;
                transform: translate(-50% , -50%);
            }
        }

        .slick-slide{
            & > div{
                padding: ($col-indent / 2);
            }
        }
    }

    &__wrapper {
        padding-top: 140px;
        padding-bottom: 140px;
    }

    &__title-wrapp{
        text-align: center;
        position: relative;
        padding-bottom: 64px;
        padding-top: 20px;

        &::before{
            content: '';
            width: 100px;
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-top: 1px solid $newsTextColor;
        }
    }

    &__title{
        font-style: $firstFont;
        text-transform: uppercase;
        color: $newsTextColor;
        font-size: 44px;
        letter-spacing: 4px;
    }

    &__slider{
        position: relative;
    }

    &__slider-article{
        background-color: $newsTextColor;
        padding: 0;

        &:hover{
            & .news__article-img-wrapp::before{
                opacity: 1;
            }
        }
    }

    &__article-img-wrapp{
        display: block;
        width: 100%;
        position: relative;

        &::before{
            content: url('../../image/Rectangle_hover.svg');
            display: block;
            box-sizing: border-box;
            width: 80px;
            height: 80px;
            padding: 28px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            border: 1px solid $newsTextColor;
            border-radius: 50%;
            z-index: 100;
            opacity: 0;
            transition: opacity .7s ease-out;
        }
    }

    &__article-img{
        display: block;
        width: 100%;
    }

    &__article-content{
        padding: 30px 50px 30px 20px;
    }

    &__article-title{
        font-size: 22px;
        font-weight: 700;
        line-height: 34px;
        max-height: 68px;
        overflow: hidden;
        font-style: $firstFont;
        text-transform: uppercase;
        color: $newsTextArticleColor;
        margin-bottom: 20px;
    }

    &__article-text{
        font-size: 18px;
        font-style: $secondFont;
        font-weight: 400;
        color: $newsTextArticleColor;
    }

    &__autor-wrapp{
        margin-top: 30px;
        display: flex;
        justify-content: start;
    }

    &__article-autor-img{
        display: block;
        width: 100%;
    }

    &_article-autor-img-wrapp{
        display: block;
        overflow: hidden;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

    &__article-autor-name-wrapp{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__article-autor-name,
    &__article-data{
        display: block;
    }

    &__article-autor-name{
        font-size: 18px;
        font-style: $firstFont;
        text-transform: uppercase;
        color: $newsTextArticleColor;
    }

    &__article-data{
        margin-top: 14px;
        font-size: 14px;
        font-style: $firstFont;
        color: $newsDataColor;
    }

}
