.project{
    padding-top: 100px;
    padding-bottom: 92px;

    &__title{
        font-family: $firstFont;
        font-size: 44px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: $projectTitleColor;
        position: relative;
        padding: 34px 0;
        letter-spacing: 4px;

        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 100px;
            border-top: 1px solid $projectTitleColor;
            top: 0;
            left: 50%;
            transform: translateX(-50%)
        }
    }

    &__article-img-wrapper{
        padding-top: 70px;

    }

    &__article-img{
        display: block;
        box-sizing: content-box;
        width: 100%;
        position: relative;
        z-index: 2;

    }

    &_img-left, &_img-right{
        position: relative;
        width: 94.0298507%;
        display: inline-block;

        &::after{
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            top: -70px;
            z-index: 1;
        }
    }

    &_img-left::after{
        left: -215px;
        background-color: $projectLeftImgBg;
    }

    &_img-right{
        align-self: end;
        & > &__article-img{
            text-align: end;
        }
        &::after{
            right: -215px;
            background-color: $projectRightImgBg;
        }
    }

    &__article{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 50px;
    }

    &__article-wrapper{
        padding: 61px 0;
    }

    &__article-pre-title{
        display: inline-block;
        font-size: 26px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: $firstFont;
        color: $projectTitleColor;
        margin-bottom: 10px;
        letter-spacing: 2px;
    }

    &__article-title{
        font-size: 44px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $firstFont;
        color: $projectTitleColor;
        margin-bottom: 40px;
        letter-spacing: 4px;
    }

    &__article-text{
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        font-family: $secondFont;
    }

    &__article-button{
        margin: 30px 0;
    }

    &__article-adress{
        font-size: 18px;
        font-style: italic;
        color: $projectTexteColor;
        font-family: $secondFont;
        margin-top: 30px;

        &::before{
            content: url('../../image/map-marker-alt-solid.svg');
            display: inline-block;
            width: 12px;
            padding-right: 10px;
        }
    }


}
