$default-fonts-name:"Gotham";
$secondary-fonts-name: "Open Sans";
$follbak: Arial, Helvetica, sans-serif;
$default-fonts: $default-fonts-name, $follbak;
$secondary-fonts: $secondary-fonts-name, $follbak;
$default-font-size: 18px;
$default-line-height: 1.625;
$small-font-size: 12px;

$color-white: #fff;
$color-black: #000;
$color-gray: #696e75;
$color-primary: #2d4056;
$color-bg-first: #55b7ff;
$color-bg-second: #7e5aff;

//точка переключения размера XL
$XL: 1200px;
//ширина контейнера размера XL
$XL_width:960px;
//точка переключения размера LG
$LG: 992px;
//ширина контейнера размера LG
$LG_width:720px;
//точка переключения размера MD
$MD: 768px;
//ширина контейнера размера MD
$MD_width:540px;
//точка переключения размера SM
$SM: 576px;
//ширина контейнера размера SM
$SM_width: 100%;
