@mixin fontFace($fontFamily, $fontStyle, $fontWeight, $fontPath) {
    @font-face {
        font-family: $fontFamily;
        font-style: $fontStyle;
        font-weight: $fontWeight;
        src: url("#{$fontPath}.woff2") format("woff2"), url("#{$fontPath}.woff") format("woff");
    }
}
