.projects {
    padding-top: 140px;

    &__title {
        color: $textColor;
        font-weight: 700;
        font-size: 44px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 170px;
        position: relative;
        font-family: c

        &:before {
            position: absolute;
            content: "";
            width: 100px;
            height: 1px;
            background-color: black;
            top: -40px;
            left: 45%;
        }
    }

    &__left,
    &__right {
        display: flex;
        justify-content: space-between;
        margin-bottom: 210px;

        
    }

    &__photo:first-child {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            width: 585px;
            height: 470px;
            background-color: #55b7ff;
            z-index: -1;
            top: -70px;
            left: -215px;
        }
    }

    &__photo:last-child {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            width: 585px;
            height: 470px;
            background-color: #7e5aff;
            z-index: -1;
            top: -70px;
            right: -150px;
        }
    }
}

.description {
    max-width: 460px;

    &__title {
        text-transform: uppercase;
        font-family: $secondaryMainFont;

        &-small {
            font-size: 22px;
            color: $textColor;
            margin-bottom: 17px;
            font-weight: 300;
        }

        &-big {
            font-weight: 700;
            font-size: 44px;
            margin-bottom: 40px;
        }
    }

    &__text {
        color: #4b5562;
        font-size: 18px;
        margin-bottom: 35px;
        font-family: "Open Sans";
    }
    &__details {
        margin-bottom: 60px;

        &-btn {
            display: inline-block;
            text-align: center;
            color: $textColor;
            font-size: 14px;
            text-decoration: none;
            min-width: 200px;
            padding: 20px 0;
            border: 1px solid $textColor;

            &:hover {
                background-color: $buttonHoverColor;
                color: $headerColor;
                border: 1px solid $headerColor;
                border-radius: 5px;
            }
        }
    }

    &__address {
        font-style: italic;
        color: $textColor;
        font-size: 18px;
        position: relative;

        &:before {
            position: absolute;
            content: "";
        }
    }
}

@media (max-width: 992px) {
    .projects__left, .projects__right 

        {
        display: block;
    }

    .projects__photo:last-child {
        right: 0;
    }
}
