$defaultFont: "Open Sans";
$secondaryFont: "Gotham";

$fallbackFont: Arial, Helvetica, sans-serif;

$mainFont: $defaultFont, $fallbackFont;
$secondaryMainFont: $secondaryFont, $fallbackFont;

$defaultFontSize: 18px;
$defaultLineHeight: 1.3;
$deafultFontWeight: 400;

$white: white;
$darkBrown: #2c4058;
$lightBLue: #1bbff5;

$textColor: $darkBrown;
$headerColor: $white;
$buttonHoverColor: $lightBLue;
