.footer {
    position: relative;
    height: 525px;
    @include bgCover('../images/footer_bg.jpg');
    padding-top: 200px;

    &__row-1 {
        align-items: center;
        display: flex;
        max-width: 770px;
        margin: 0 auto;
        justify-content: space-between;

        &_social {
            display: flex;
            width: 160px;
            justify-content: space-between;
        }

        &_social a {
            text-decoration: none;
            display: block;
            width: 40px;
            height: 40px;
            border: 1px solid white;
            border-radius: 20px;
            text-align: center;
            padding-top: 12px;
        }
    }

    &__row-2 {
        padding-top: 35px;
        max-width: 770px;
        margin: 0 auto;
        color: white;
        font-size: 14px;

        &_separator {
            margin-left: 14px;
            margin-right: 14px;
            font-size: 20px;
        }
    }
}

.contact {
    position: absolute;
    @include bgCover ('../images/footer-form-bg.jpg');
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    width: 770px;
    height: 450px;
    padding: 45px 60px 0 80px;

    @media(max-width: 992px) {
        width: 400px;
        height: 650px;
        padding: 30px 30px;
        line-height: 10px;
    }

    &__title {
        text-transform: uppercase;
        font-size: 44px;
        color: $mainTextColor;
        position: relative;
        text-align: center;
        margin-bottom: 20px;

        @media(max-width: 992px) {
            padding-top: 20px;
        }

        &:before {
            position: absolute;
            content: "";
            width: 100px;
            height: 1px;
            background-color: $mainTextColor;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__details {
        font-size: 18px;
        color: $mainTextColor;

        & .details {
            position: relative;
            margin-bottom: 40px;

            &:before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                left: -25px;
                top: 1px;
            }
        }

        &-address:before {
            background: url("../images/map-marker-alt-solid.svg") no-repeat;
        }

        &-phone:before {
            background: url("../images/phone.svg") no-repeat;
        }

        &-email:before {
            background: url("../images/mail-solid.svg") no-repeat;
        }

        &-clock:before {
            background: url("../images/clock-regular.svg") no-repeat;
        }
    }

    &__form {
        &-input {
            width: 310px;
            margin-bottom: 30px;
            padding-bottom: 20px;
            border: none;
            border-bottom: 1px solid lightgrey;
            outline: none;
            font-size: 18px;

            &:focus {
                border-bottom: 1px solid $mainTextColor;
            }

            &:first-child {
                margin-top: 25px;
            }
        }

        &_wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        &-submit {
            cursor: pointer;
            text-transform: uppercase;
            text-align: center;
            font-size: 14px;
            width: 140px;
            height: 50px;
            border: 1px solid $mainTextColor;
            background: transparent;

            &:hover {
                background-color: lightgray;
            }
        }
    }
}
