.gallery {
    padding-bottom: 140px;
    &__wrapper-img {
        max-width: 1170px;

        display: flex;
        flex-wrap: wrap;
    }
    &__item-wrapp {
        width: 50%;
        display: flex;

        flex-wrap: wrap;
    }
    &__list {
        width: 50%;
    }

    &__item {
    }

    &__img {
        max-width: 100%;
        display: block;
    }

    &__more {
        padding-top: 60px;
    }

    &__button {
        margin: 0 auto;
    }
}
