.header {
    height: 110px;
    width: 100%;
    padding: 55px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    &__link {
        display: block;
    }

    &__img {
        display: block;
    }
}
.menu {
    &__list {
        display: flex;
        list-style-type: none;
    }

    &__item {
        padding: 0 50px;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: $menuFontSize;
        font-family: $secondaryFonts;
        color: $menuColor;
        position: relative;
        padding-left: 22px;

        &__circle::after,
        &__circle_active::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            width: 8px;
            height: 8px;
            border: $scrollBorder;
            border-radius: 50%;
        }
        &__circle:hover::after,
        &__circle_active::after {
            background-color: $menuColor;
        }
    }
}
